.test-divgreen {
    color:darkgreen
}
.test-divred {
   color:red 
}
.test-divbackblue {
    background-color:blue
}
.test-divbackcyan {
    background-color:cyan
}
.test-divbackred {
    background-color:red
}